---
layout: '/_post.html.haml'
main_image: '/images/guide-to-pants-off-living-rocks.jpg'
persona: 'Post'
title: 'Consumer :: Bovine'
published: 2006-09-28
next_item: /blog/2006/10/if-everyone-lived-like-me.html
previous_item: /blog/2006/09/masanis-restaurant.html
topics: pants_off_living
...

  %h1 Consumer :: Bovine
  %p I feel like I'm standing on the edge of an existential precipice; who am I, what's my purpose, where am I going, what is my life course; live, love, consume, cease.
  %p
    This feeling has been brewing. But it really started to crystalize into an idea when a friend (who recently moved into a new and beautiful house) mentioned a book she'd finished reading a book called
    = succeed "." do
      %a{:href => "http://www.amazon.com/Affluenza-All-Consuming-Epidemic-Bk-Currents/dp/1576753573/"} Affluenza - The All Consuming Epidemic
    I haven't even read this book, but the idea of it has started to resonate with me in a strange way.
  %p
    I've been bugging the hell out of Melissa with nagging requests to buy stuff - a
    = succeed "," do
      %a{:href => "http://www.apple.com/au/macmini/"} new computer
    an
    = succeed "," do
      %a{:href => "http://www.yamahasynth.com/products/s90es/index.html"} electric piano
    a
    = succeed "," do
      %a{:href => "http://panasonic.com.au/products/details.cfm?objectID=3402"} plasma TV
    a
    = succeed "," do
      %a{:href => "http://www.yamahamusic.com.au/products/avit/digitalsound/ysp-1000.asp"} digital sound projector
    new toys, crap, garbage.  What's the point of all this stuff!? Some of it is for pleasure, enjoyment and relaxation. Some of it is to stimulate a deep and entrenched part of my being that wants to create.
  %p But all of it is nonsense.
  %p I work and I earn good money. I live very well. I have a beautiful soul-mate whom I love with every cell in my heart. I know she loves me equally. We have a cat. We have some beautiful friends and we love spending time with them.
  %p What more do I need?
  %p I need to think that I'm more than a cow, that goes to work, munches on hours to make money, to buy 'stuff' and then has to go back to work, to munch on hours...
  %p
    I love having projects. Hey! - I just
    = succeed "." do
      %a{:href => "http://www.powerhouseblues.com/"} finished producing a DVD
    It's been a great project, it is a real and tactile thing. I have collaborated with people who have shared an equal or greater passion to produce that DVD. It's been great. It's been fulfilling.
  %p I've been a part of making something people want. Not wanting something people make.
  %p
    How do I
    = succeed "?" do
      %a{:href => "http://www.zefrank.com/theshow/archives/2006/09/092006.html"} bust this cycle
  %h3 Comments
  %ol.comments
    %li
      %dl
        %dt
          %strong Spud
          %br/
          %small 29 September 2006
        %dd
          %p Run. Run like you think your hearts going to explode and then just keep running. Be tested. Remind yourself of your limitless potential. Be compassionate. Giving doesn't always have to be in the form of a gift or material item
          %p In no way do I think you don't already do these things (in your own Travo type of way) but I almost dare you to be bold and try something completely out of character. eg; Go play music for kids in Hospital or volunteer at a old persons home.
          %p Or ignore me and prove everything about your blog that we (WE) have been habituated to think only of our own needs and desires without contributing anything back.
          %p Love you brother.
          %p annie
    %li
      %dl
        %dt
          %strong
            %a{:href => "http://lonelyradio.net/", :rel => "nofollow", :title => "http://lonelyradio.net/"} cos
          %br/
          %small 29 September 2006
        %dd
          %p i concur. i've been going through this for ages, now. but it's hard to work out What To Do Next(tm).
    %li
      %dl
        %dt
          %strong Kriss
          %br/
          %small 30 September 2006
        %dd
          %p Look beyond what you see. Life can be either materialistic or lived with those that you love and love you back unconditionally. Spend time outside the square and review your thoughts and processes. Remember what is important to you and those that you love and that love you.
          %p I double dare you to take up spud's challenge, but before you play music for sick children in a hospital - come and play music with your nephew and niece, as they are budding musicians and we all know that i have no rhythm... Kriss
    %li
      %dl
        %dt
          %strong
            %a{:href => "http://www.prozacblues.com/travo/", :rel => "nofollow", :title => "http://www.prozacblues.com/travo/"} Travo
          %br/
          %small 5 October 2006
        %dd
          %p I'm not really sure that running would help.
          %p I've tried to give this a bit of thought Annie and your reply has been challenging. I don't think I'd be much help playing at hospitals since I'm conceited enough to think that people get paid good money to work there and don't need me getting in their way while I try to re-establish my purpose in life.
          %p Doing things 'out of character' is a weird idea too, I think that my character is already well out of sync with general expectations so I figure I live everyday 'out of character'. This is garbage really too, since the self involved idea of myself and who I really am to people are two vastly different realities.
          %p I'm never going to ignore you lil' tacker! - I think I get the gist of your last sentence though and therein lies the real truth - and that is thinking beyond ourselves. I certainly have enough beautiful friends and a great family that I need to consider before I start running through hospitals playing guitar trying to fill a selfish emptiness within myself.
    %li
      %dl
        %dt
          %strong Rup
          %br/
          %small 14 October 2006
        %dd
          %p Just get the biggest fucking plasma you can find, that'll make you feel better.
    %li
      %dl
        %dt
          %strong Travo
          %br/
          %small 14 October 2006
        %dd
          %p Rup, believe me - I've been trying to convince Mel about the new plasma TV, unfortunately though she won't come around. Keeps mumbling something about a wedding and honeymoon...
          %p Kriss, thanks for your kind thoughts.You've mentioned love a lot. Sorry, but I disagree with your sentiment. It's too Beatles-esque - "all you need is love". I think that's a misnomer and another way in which we as a society are tranquilised into inertia. Capital 'L' love without affection is not love.
          %p If we love everybody unconditionally then will our world better place? Nah, we actually need to do something beyond that. We need to act; Think. Create. Destroy. Build. Rebuild. Communicate. Learn. Understand. Consider. Respect.
          %p
            And believe me - I know that I have love; this post wasn't about an absense of love. I meant to ask a question about
            %em my purpose
            and leaving something on this planet other than a massive carbon deficit.
  


